{% extends 'base.html.twig' %}

{% block title %}Edit Optional{% endblock %}

{% block body %}
    <h1>Editer les Options</h1>

    {{ include('optional/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('optional_index') }}">back to list</a>

    {{ include('optional/_delete_form.html.twig') }}
{% endblock %}

